// App Style

body {
  font-family: Georgia;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff8d8;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
}
